.pagination-bar {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  text-align: center;
  .pagination .page-item .page-link {
    color: white;
    border-radius: 50%;
  }
  .pagination .page-item .page-link:hover {
    border-radius: 50%;
    color: black;
  }
}
