.movie-page {
  height: 100%;
  .genre-icon {
    height: 26px;
    width: 26px;
    padding: 0px;
  }
  h1 {
    position: absolute;
    top: 120;
    transform: translate(10%, -120%);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  p {
    width: 100%;
    color: white;
    text-align: left;
    margin-top: 0.6em;
    padding-left: 0.4em;
    font-size: 22px;
  }
  .player-wrapper {
    position: absolute;
    transform: translate(15%, 15%);
    width: 700px;
    height: 394px;
    z-index: 1;
    opacity: 0.2;
    transition-timing-function: ease-in;
    transition-duration: 0.2s;
  }
  .player-wrapper:hover {
    opacity: 1;
  }
}

.backdrop-img {
  width: 100%;
  opacity: 0.8;
}
