.movie-liker {
  margin-left: auto;
  margin-right: auto;
  padding-top: 15%;
  padding-bottom: 10%;
  .btn {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 0;
    border: 3px solid rgba(255, 255, 255, 0.438);
    box-shadow: none;
  }
  .btn:before {
    border: 3px solid rgba(255, 255, 255, 0.438);
  }
  .btn:after {
    border: 3px solid rgba(255, 255, 255, 0.438);
  }
}

.refresh-card {
  height: 500px;
  width: 50%;
  max-width: 450px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
  padding-top: 15%;
  .btn {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding: 0;
  }
  .card {
    color: white;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 10px;
    background-color: rgba(214, 214, 214, 0.3);
  }
  img {
    width: 250px;
    height: 250px;
    border-radius: 40px;
  }
}
