$black: #13191c;
$yellow: #fccf74;
$orange: #e3655b;
$pink: #db5461;
$blue1: #3891a6;
$blue2: #23395b;

.liked-movies {
  h1 {
    font-size: 30px;
    .fa {
      color: $pink;
    }
  }
  .card {
    background: transparent;
    padding-right: 4px;
    padding-left: 4px;
    width: 100%;
    img {
      max-height: 310px;
      width: 221px;
    }
  }
  .slick-slider {
    background-image: radial-gradient($blue1, $blue1, $blue2);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 7px;
    padding-bottom: 7px;
    min-height: 140px;
    max-height: 325px;
  }
}

// @media only screen and (max-width: 600px) {
//   .liked-movies {
//     .card {
//       img {
//         height: 120px;
//       }
//     }
//     .slick-slider {
//       max-height: 140px;
//     }
//   }
// }
