// Colors
$black: #13191c;
$yellow1: #fccf74;
$orange: #e3655b;
$pink: #db5461;
$blue1: #3891a6;
$blue2: #23395b;

// .navbar {
//   .navbar-dark {
//     .navbar-brand {
//       color: $yellow1;
//     }
//   }
// }

// .navbar {
//   background-color: $blue2;
//   a {
//     color: $yellow1;
//     opacity: 0.9;
//   }

//   a:hover {
//     color: $orange;
//   }
// }

// .navbar-toggler-icon {
//   color: $yellow1;
// }
