// Colors
$black: #13191c;
$yellow1: #fcc453;
$yellow2: #fccf74;
$blue1: #8ab0ab;
$blue2: #3e505b;

.App {
  text-align: center;
  color: $blue2;
}

.container {
  min-height: 95vh;
}

img {
  max-height: 650px;
  max-width: 350px;
}
// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 40vmin;
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
